
html{
    background-image: url("img/leaves.png");
}
body{
    margin:0;
}
.header{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav{
    text-align: center;
    background: rgba(76, 175, 80, 0.3)
}

nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: black;
    font-family: 'Indie Flower', cursive;
    padding-right: 45px;
}
nav a:hover{
    color: orangered;
}

a.active{
    color: orangered;
}

main{
    background-color: white;
    margin-left: 90px;
    margin-right: 90px;
}
.cow{
    float: left;
    margin-left: 30px;
    margin-top: 100px;
}

h2{
    font-size: 30px;
    text-shadow: 3px 3px 7px lightgreen;
}

h3{
    font-size: 20px;
}

h2.substitutes{
    margin-right: 50px;
    margin-top: 100px;
}

.substitutes{
    margin-left: 50px;
}

.supplies{
    margin-left: 60px;
}

.pantry{
    margin-top: 75px;
    margin-left: 100px;
}

.cheesecake{
    margin-left: 50px;
    margin-top: 50px;
}

.border{
    border-radius: 8px;
}


h2, h3, p, ol{
    font-family: 'Alegreya', serif;
}

p{
    font-size: 20px;
}

ol{
    font-size: 20px;
}

.clickhere{
    text-decoration: none;
    color: orangered;
}

.clickhere:hover{
    text-decoration: underline;
}

.red{
    color: orangered;
}

.title{
    margin-top: 75px;
}

.highlight{
    font-weight: bold;
    background-color: yellow;
}

.teaparty{
    margin-left: 50px;
    margin-right: 50px;
}

.milk{
    margin-left: 50px;
    margin-right: 50px;
}

.butter{
    margin-left: 30px;
    margin-right: 75px;
}

#ingredients{
    margin-left: 90px;
    margin-top: 80px;
    font-family: 'Indie Flower', cursive;
    padding-top: 80px;
    font-size: 22px;
}

ul {
    list-style-type: none;

}
th{
    text-align: left;
}

.grocerylist{
    background: url("img/notebookpaper.jpg") no-repeat;
}

.recipe{
    font-size: 20px;
}

.cooktime{
    border-collapse: collapse;
    border: solid black;
    padding: 5px;
}

.cooktime tr:nth-child(even){
    background-color: lightgrey;
}

.raspberry{
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 50px;
}

footer{
    font-weight: bold;
    font-size: 15px;
}